* {
    padding: 0;
    margin: 0;
}

nav {
    /* background-color: rgba(143, 63, 196, 0.493); */
    background-color: rgba(166, 188, 236, 0.815);
    width: 100vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    box-shadow: -3px -8px 20px 7px rgba(255, 255, 255, 0.493);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.name {
    padding-left: 10vw;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pages_names ul {
    padding-left: 26vw;
    list-style: none;
    display: flex;
    flex-direction: row
    
}

.pages_names li {
    padding-right: 2vw;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
li a{

    text-decoration: none;
    color: black;
}

li a:hover{
    font-size: 16px;
    color: blue;
}
.color{
    color: blue;
}

.container2{
     width: 100vw;
    height: 90vh;
     /* background-image: url('bg2.jpg'); */
    background: linear-gradient(to right, #6b11cb7a, #2574fc79);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: Arial, Helvetica, sans-serif;
  
/* 
    background:linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%),
    url('bg2.jpg');  */
 
}
.abt{
    display: flex;
    flex-direction: row;
  
}
.image{
    padding: 100px ;
    padding-left: 170px ;
    
    
}
.image img{
    border-radius: 10%;
    width: 270px;

}
.aboutme{
    font-size: 25px;
    padding: 40px 0px 30px 0px;
    /* text-decoration: underline; */
    color: rgb(255, 255, 255);
}
.explain{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-top:20px ;
    padding-bottom: 30px;
}

.but{
    display: flex;
    flex-direction: row;
    
}
.but button{
    height: 45px;
    width: 190px;
    border-radius: 10px;
    background-color: rgba(223, 223, 224, 0.562);
    font-weight: bold;
    font-size: 13px;
    border: 0px;
    margin-top: 40px;
}
.contact{
    margin-right: 20px;
    
}
.resume{
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: black ;
}
button:hover{
    height: 46px;
    width: 192px;
    border-radius: 10px;
    background-color: rgba(223, 223, 224, 0.87);
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    margin-top: 42px;
}

a:visited{
    /* text-decoration: none; */
    height: 45px;
    width: 190px;
    border-radius: 10px;
    background-color: rgba(223, 223, 224, 0.562);
    font-weight: bold;
    font-size: 13px;
    border: 0px;
    margin-top: 40px;
}