* {
    padding: 0;
    margin: 0;
}

nav {
    /* background-color: rgba(143, 63, 196, 0.493); */
    background-color: rgba(166, 188, 236, 0.815);
    width: 100vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    box-shadow: -3px -8px 20px 7px rgba(255, 255, 255, 0.493);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.name {
    padding-left: 10vw;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pages_names ul {
    padding-left: 26vw;
    list-style: none;
    display: flex;
    flex-direction: row
    
}

.pages_names li {
    padding-right: 2vw;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
li a{

    text-decoration: none;
    color: black;
}

li a:hover{
    font-size: 16px;
    color: blue;
}
.color{
    color: blue;
}

.container2{
     width: 100vw;
    height: 90vh;
     /* background-image: url('bg2.jpg'); */
    /* background: linear-gradient(to bottom, #84a9ff, #f5f8ff); */
    background: linear-gradient(to top , #592ee693, #5f88d3c9);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: Arial, Helvetica, sans-serif;
 
}
.container2 h1,p{
    display: flex;
    justify-content: center;
    
}
.container2 h1{
    padding: 10px;
    font-size: 35px;
    color: white;
}
.container2 p{
    padding-bottom: 22px;
    font-size: 18px;
 
}

.box1{
    border: 1.5px solid rgba(194, 182, 182, 0.582);
    border-radius: 10px;
    width: 800px;
    padding: 30px;
    margin-left: 20%;
    background-color: #592ee621;
    display: flex;
    flex-direction: row;
}
div h2{
    color: white;
}
div h3{
    padding-top: 10px;
    color: rgb(0, 0, 0);
    
}
div h4{
    padding-top: 10px;
}
.no{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.courses{
    color: white;
}
.no div{
    padding-right: 30px;
}

.cap{
    font-size: 40px;
    color: white;
    border-radius: 50%;
    width:80px;
    height: 76px;
    background-color: #592ee696;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
}
.cap i{
    padding-top: 16px;
}
.box2{
    margin-top: 15px;
}